.btn_heart {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_heart button:nth-child(1) {
  width: 70%;
  height: 30px;
  background-color: #1a1919;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 5px;
}

.btn_heart button:nth-child(2) {
  width: 70%;
  height: 30px;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 20px;
}

.btn_heart button:nth-child(2) .fa-heart {
  color: #ccc;
  text-align: center;
  margin-left: 8px;
  font-size: 15px;
}

.btn_heart button:nth-child(2) .fa-heart:hover {
  color: red;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: #1a1919;
}

#header_container {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#header_container p {
  margin-left: 10px;
  font-size: 25px;
  font-family: "Shizuru", cursive;
  color: #fff;
}

#header_container .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header_container .icons ul .fa-heart {
  color: rgba(250, 95, 90, 0.705);
}

#header_container .icons ul > li {
  margin: 10px;
}

#header_container .icons ul > li i {
  font-size: 25px;
  color: #fff;
}

#animation_slide {
  width: 100%;
  height: 45%;
  position: relative;
}

#animation_slide .slide_images img {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.733);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.733);
  top: 0;
  left: 0;
}

#animation_slide .img_1 {
  height: 45vh;
  position: relative;
  -webkit-animation: slide01 12s forwards infinite;
          animation: slide01 12s forwards infinite;
}

#animation_slide .img_2 {
  -webkit-animation: slide02 12s forwards infinite;
          animation: slide02 12s forwards infinite;
}

#animation_slide .img_3 {
  -webkit-animation: slide03 12s forwards infinite;
          animation: slide03 12s forwards infinite;
}

#animation_slide .img_4 {
  -webkit-animation: slide04 12s forwards infinite;
          animation: slide04 12s forwards infinite;
}

@-webkit-keyframes slide01 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide01 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide02 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide02 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide03 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide03 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide04 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide04 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#sort_container {
  width: 99%;
  text-align: end;
  margin-top: 30px;
}

#products_container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

#products_container .dom_container {
  border: 1px solid #ccc;
  width: 300px;
  margin: 50px 30px;
  padding: 10px;
}

#products_container .item {
  height: 75%;
}

#products_container .item img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 230px;
}

#products_container .item h4,
#products_container .item p {
  text-align: center;
}

@media (min-width: 800px) {
  #header_container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #animation_slide {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50vh;
  }
  #animation_slide .slide_images img {
    border-radius: 10px;
    width: 70%;
    height: 50vh;
    left: 15%;
  }
}

@media (min-width: 1280px) {
  #animation_slide {
    background-color: rgba(0, 0, 0, 0.8);
    height: 55vh;
  }
  #animation_slide .slide_images img {
    border-radius: 10px;
    width: 70%;
    height: 55vh;
    left: 15%;
  }
}
/*# sourceMappingURL=style.css.map */