* {
  padding: 0;
  margin: 0;
  & li {
    list-style: none;
  }
  & a {
    text-decoration: none;
    color: $black;
  }
}

#header_container {
  // border: 1px solid red;
  position: sticky;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainBackground;

  & p {
    margin-left: 10px;
    font-size: 25px;
    font-family: $secondaryFont;
    color: $white;
  }

  & .icons ul {
    display: flex;

    & .fa-heart {
      color: rgba(250, 95, 90, 0.705);
    }

    & > li {
      margin: 10px;
      & i {
        font-size: 25px;
        color: $white;
      }
    }
  }
}

// --------------------------
// animation-slide
// -------------------------
#animation_slide {
  width: 100%;
  height: 45%;
  position: relative;

  & .slide_images img {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.733);
    top: 0;
    left: 0;
  }

  & .img_1 {
    height: 45vh;
    position: relative;
    animation: slide01 12s forwards infinite;
    // & p {
    //   width: 70%;
    //   text-align: center;
    //   position: absolute;
    //   padding: 5px 10px;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   border: 1px solid rgba(102, 50, 50, 0.849);
    //   background-color: rgba(65, 32, 32, 0.849);
    //   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712);
    //   border-radius: 10px;
    //   color: #ccc;
    //   font-size: 20px;
    //   font-family: "Baloo Bhaijaan 2", cursive;
    // }
  }
  & .img_2 {
    animation: slide02 12s forwards infinite;
  }
  & .img_3 {
    animation: slide03 12s forwards infinite;
  }
  & .img_4 {
    animation: slide04 12s forwards infinite;
  }
}

@keyframes slide01 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide02 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide03 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide04 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// ------------------------
// Sort
// ------------------------
#sort_container {
  // border: 1px solid red;
  width: 99%;
  text-align: end;
  margin-top: 30px;
}

// ------------------------
// API DOM
// ------------------------
#products_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;



  .dom_container{
    border: 1px solid #ccc;
    width: 300px;
    margin: 50px 30px;
    padding: 10px;
  }
  
  & img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 230px;
  }
  & h4, p {
    text-align: center;
  }
}

// ------------------------
// Break points
// ------------------------


