.btn_heart {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & button:nth-child(1) {
    width: 70%;
    height: 30px;
    background-color: $black;
    color: $white;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  & button:nth-child(2) {
    width: 70%;
    height: 30px;
    border: 2px solid $borderColor;
    background-color: $white;
    border-radius: 20px;
    & .fa-heart {
      color: $borderColor;
      text-align: center;
      margin-left: 8px;
      font-size: 15px;
      &:hover {
        color: red;
        background-color: $white;
      }
    }
  }
}
