

// ----------------------
// Add to Cart
// Favorite
// ----------------------
.btn_heart {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & button {
    width: 70%;
    height: 30px;
    border-radius: 20px;
    &:hover {
      cursor: pointer;
    }
    &:nth-child(1) {
      background-color: $black;
      color: $white;
      margin-bottom: 5px;
    }
    &:nth-child(2) {
      border: 2px solid $borderColor;
      background-color: $white;
     
      & .fa-heart {
        color: $borderColor;
        text-align: center;
        margin-left: 5px;
        font-size: 15px;
        &.heart_color {
          color:$heartColor;
          background-color: $white;
        }
      }
    }
  } 
}
