$white: #fff;
$black: #1a1919;
$mainBackground: rgba(0, 0, 0, 0.8);
$borderColor: #ccc;
$heartColor: rgba(240, 29, 29, 0.781);
$primaryFont: 'Roboto Condensed', sans-serif;
$secondaryFont: 'Shizuru', cursive;